*{
  margin: 0;
  padding: 0;
}

/* CONFIGURAÇÕES DA BARRA DE NAVEGAÇÃO */
nav{
  padding: 20px 15px;
}
.navegacao,.menu{
  font-size: 18px;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  gap: 60px;
  color: #fff;
}
.menu-links{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 60px;
}


/* CONFIGURAÇÕES DOS BOTÕES */
.botao-order {
  height: 50px;
  width: 176px;
  font-size: 15px;
  padding: 5px;
  background-color: #B3A0CD;
  color: #1E1E1E;
  cursor: pointer;

}
.botao-about {
  height: 60px;
  width: 176px;
  font-size: 20px;
  padding: 5px;
  background-color: #B3A0CD;
  color: #1E1E1E;
  border: 5px solid #1E1E1E;
  cursor: pointer;
  box-shadow: 10px 10px 0px rgb(0, 0, 0);
}


/* CONFIGURAÇÕES DA SEÇÃO 1 --CONTÉUDO PRINCIPAL-- */
.conteudo-principal{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 400px 200px;
}
.conteudo-texto{
  margin-top: 50px;
}
.conteudo-imagen{
  margin-top: -5rem;
}

/* CONFIGURAÇÕES DA SEÇÃO 1 --CONTÉUDO INFORMATIVO-- */
.informativos,.conteudo-secundario-banner{
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: #D1EF53;
  border-radius: 30px;
  margin: 0 40PX;
}
.conteudo-informativo{
  margin: 0 50PX;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.conteudo-informativos-links{
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;

}

/* CONFIGURAÇÕES DA SEÇÃO 2 --CONTÉUDO ADICIONAIS-- */
.conteudo-secundario{
  gap: 60px;
  margin: 64px 0px;
  display: grid;
  grid-template-columns: 2fr  2fr;
  grid-template-rows: 500px;
  padding: 100px 100px 0px 100px;
}

.conteudo-secundario-item1, .conteudo-secundario-item2{
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.235);
  display: flex;
  align-items: flex-end;
  border: 5px solid #E9E3DC;
  border-radius: 30px;
  padding: 10%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.conteudo-secundario-item1{
  background-image: url(imgs/png/batata.png);
}
.conteudo-secundario-item2{
  background-image: url(imgs/png/hamburguer.png);
}

.conteudo-secundario-items-textos{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  background-color:  #1E1E1E;
  border: 5px solid rgba(0, 0, 0, 0.094);
  border-radius: 30px;
}



.conteudo-secundario-texto{
  margin-bottom: 64px;
  text-transform: uppercase;
  font-size: 50px;
  height: 95px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D1EF53;
}

.conteudo-secundario-banner{
  background-image: url(imgs/png/banner-pessoas.png);
}